/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}
/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        
    }
    .hide-on-mobile-tablet {
        display: none;
    }

    .blog-sale {
        margin-top: 80px;
    }

    .special {
        height: 850px;
    }
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}
